
.carousel-container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  
  .slides {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 200%; // Ajuste conforme o número de slides
  }
  
  .slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .prev-button {
    left: 1rem;
  }
  
  .next-button {
    right: 1rem;
  }
}
